body {
  background-color: #f0f0f0;
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
}
body a {
  text-decoration: none;
  color: #aaa;
  transition: color 0.2s ease-in-out;
}

body a:hover {
  color: blue;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* place last item to the bottom */
  justify-content: space-between;
}

main#app h1 {
  font-size: 2rem;
}

main#app {
  margin: 0 auto;
  width: 80vw;
  min-width: 40vw;
  padding: 20px;
  background-color: #fff;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main#kitchen {
  background-color: blue;
  /*
  */
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  min-width: 40vw;
  padding: 20px;
  background-color: #fff;
  border-top-right-radius: 0.4rem;
  border-top-left-radius: 0.4rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

main#app form#order.hide {
  display: none;
}

main#app form p {
  display: flex;
  gap: 1rem;
  background-color: #e8e8e8;
  border-radius: 0.4rem;
  padding: 1rem;
}

main#app form p select {
  font-size: 1.2rem;
  flex-grow: 1;
}

main#app form p select option {
  padding: 0 0.8rem;
}

main#app form p input {
  font-size: 1.2rem;
  padding: 0.5rem;
  border: 1px solid #333;
  border-radius: 0.2rem;
  text-align: right;
  flex-grow: 0;
  flex-shrink: 4;
  width: 3ch;
}
main#app form p:last-child {
  display: flex;
  flex-wrap: wrap;
  background-color: pink;
}
main#app form p:last-child span {
  flex-grow: 1;
  text-align: right;
  padding-right: 1rem;
  font-size: 1.1rem;
  font-style: italic;
  display: inline-block;
  margin-bottom: 0.2rem;
}
main#app form p:last-child label {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

main#app form p:last-child label input {
  flex-shrink: 4;
  flex-grow: 1;
  width: auto;
}

main#app form p:last-child label button {
  flex-shrink: 0;
  flex-grow: 0;
  width: auto;
  margin-top: 0.2rem;
  font-size: 1.2rem;
  padding: 0.2rem 0.4rem;
  border: 1px solid #333;
  border-radius: 0.2rem;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

main#app form p:last-child label button:hover {
  background-color: #333;
  color: #fff;
}
main#kitchen ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

main#kitchen ol li {
  margin: 0;
  padding: 0;
  display: flex;
  border-bottom: 0.2rem solid #f0f0f0;
  margin-bottom: 0.4rem;
  padding: 0.4rem 0;

  justify-content: space-between;
  gap: 2rem;
  font-size: 1.4rem;
  /*
  place-content: start;
  background-color: green;
  */
  place-items: center;
}

main#kitchen ol li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

main#kitchen ol li p button {
  font-size: 1.2rem;
  padding: 0.2rem 0.4rem;
  border: 1px solid #333;
  border-radius: 0.2rem;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

main#kitchen ol li p button:hover {
  background-color: #333;
  color: #fff;
}

/*
main#kitchen ol li span {
}
main#kitchen ol li p {
  flex-grow: 1;
  background-color: red;
}
main#kitchen ol li p:last-child {
  flex-shrink: 1;
  background-color: blue;
  flex-grow: 0;
}
*/
